.image{
  height:51.5em; background-size:cover; width:auto;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHrgjdwolHhspBoPO1YWnhyhKWjMK8IjDl5A&usqp=CAU');
  background-position:700% 0%;
  margin-top: -2%;
}
