.image{
  height:45em; background-size:cover; width:auto;
  background-image:url('https://1.bp.blogspot.com/-AzsfAJCr4d8/Wu4yQ6tIxJI/AAAAAAAAB2I/dO7UR0q1dToDK5SrG9Ua5baAZpc9nw7KgCLcBGAs/s1600/15694180575aedcebd54dad7.85379664-shutterstock-700161556.png');
  background-position:800% 20%;
}
