.image{
  height:45em; background-size:cover; width:auto;
  background-image:url('https://media.istockphoto.com/photos/padlock-and-chain-on-black-background-computer-security-blockchain-picture-id1127237000?k=6&m=1127237000&s=170667a&w=0&h=BmBCJoYcIMM4VpvjwNMY0M-9jMCIW2PHyO6ZZ5Wb7x4=');
  background-position:800% 20%;
}
