.image{
  height:45em; background-size:cover; width:auto;
  background-image:url('https://image.freepik.com/photos-gratuite/hacker-cyber-crime-concept-masque-noir-chaine-nouvel-ordinateur-fond-noir_44289-1158.jpg');
  background-position:800% 0%;
}
